/* src/styles/navbar.css */
.custom-dropdown-button .btn-outline-secondary {
  transition: background-color 0.3s ease;
  color: #9c6a42;
  width: auto;
}

.custom-dropdown-button .btn-outline-secondary:hover {
  background-color: #9c6a42;
  color: #fff;
}

.custom-dropdown-button .dropdown-toggle {
  background-color: #f8f9fa;
  border-color: #9c6a42;
}

.justify-content-center {
  gap: 1rem 6rem !important;
}
